@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Agrocercas

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #e95a0c;

/* ---------- General ---------- */

/* ---------- Template ---------- */

/* General */

.img-center {
	margin: auto;
}

/* Top */

.top {
	.moduletable_re1 {
		.custom_re1 {
			p {
				margin: 0;
				a {
					width: 24px;
					height: 24px;
					line-height: 24px;
					background-color: $secondary_color;
					color: #000;
					display: inline-block;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}

/* Home */

.home {
	margin: 20px 0;
}

/* ---------- Media Queries ---------- */

@media screen and (max-width: 767px) {

	/* Top */

	.top {
		display: none;
	}

	header .col-lg-3 .moduletable {
		padding: 10px 0;
		text-align: center;
	}

	header .col-lg-3 .moduletable p {
		margin: 0;
	}

	.moduletable_ho1 .img-center {
		padding-bottom: 10px;
	}

}

/* ---------- Others ---------- */

.clear {
	clear: both;
}