@import ('nib')
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300');

gris = #cccccc
grisFuerte = #1a1a1a
naranja = #e95a0c

mobile = 768px
tablet = 992px

media-min(var)
  condition = 'screen and (min-width: %s)' % var
  @media condition
    {block}

media-max(var)
  condition = 'screen and (max-width: %s)' % var
  @media condition
    {block}

titulo-seccion()
  color naranja
  text-transform uppercase
titulo-vistas-producto()
  color naranja
  font-size 1.125rem
  margin 0 0 10px 0
  text-align center
  text-transform uppercase
triangulo()
  border-left: 6px solid transparent
  border-right: 6px solid transparent
  border-top: 12px solid naranja
  content ''
  display inline-block
  height: 0
  margin 0px 25px
  width: 0

#fancybox-wrap
  #fancybox-outer
    #fancybox-content
      background-color #fff
    #fancybox-title
      display none !important

*
  font-family 'Roboto Condensed', sans-serif

html
  font-size 16px

body
  background-color #fff
  background-image url('/images/fondo.png')
  background-repeat: no-repeat;

footer
  background-color #000
  padding 10px 0px
  margin-top 10px
  table
    tr
      td
        &:nth-child(2), &:nth-child(4)
          +media-max(tablet)
            display none
        +media-max(tablet)
          display inline-block
          text-align center
        +media-max(mobile)
          display block
          text-align center
        img
          +media-max(mobile)
            margin 0 auto
          +media-max(tablet)
            margin 0 auto

header
  background-color #000
  nav
    margin-top 15px
    ul
      li
        background url('/images/separator.png') center right no-repeat
        a
          color #fff
          padding 20px
          text-transform uppercase
          &:hover
            background #333333
            color #fff


section.a
  margin-top 10px
  .moduletable
    h3
      cursor pointer
      &._menu_productos + .menu_categorias
        +media-max(mobile)
          display none
  .content-border
    border 1px solid #CCCCCC
    padding 20px
  .contenido
    color #000000
    .item-page
      .page-header
        padding-bottom: 0px
        margin: 0px
      h2
        color: naranja
        display block
        font-size 1.5rem
        margin 0 auto
        padding 10px 0px
    div.category-view
      .browse-view
        padding 10px
        h1
          titulo-vistas-producto()
        .horizontal-separator
          display none
        .orderby-displaynumber
          display none
        .vm-pagination
          float none
          ul
            padding 0px
            li
              &.pagination-start
                span
                  background-color #fff
                a
                  background-color #fff !important
              &.pagination-prev
                span
                  background-color #fff
                a
                  background-color #fff !important
              &.pagination-next
                span
                  background-color #fff
                a
                  background-color #fff !important
              &.pagination-end
                span
                  background-color #fff
                a
                  background-color #fff !important
              a
                color #000
              span
                color #000
                background-color naranja

        .row
          .product.vm-col-3
            background-color rgba(255,255,255,0.53) !important
            margin-bottom 20px
            margin-left 3%
            width 30.1%
            .spacer
              .vm3pr-0
                display none
              .vm-details-button
                a
                  display inline-block
                  margin 0px
                  padding 0px
                  visibility hidden
                  &:after
                    background-color naranja
                    color #fff
                    content 'ver más'
                    display inline-block
                    font-size 0.875rem
                    padding 5px 10px
                    text-transform uppercase
                    visibility visible
              .vm-product-descr-container-0
                h2
                  text-align center
                  a
                    color #000
                    font-size 1.125rem
                    text-transform uppercase
    div.productdetails-view
      padding 10px
      h1
        titulo-vistas-producto()
      .back-to-category
        display none
      .product-neighbours
        display none
      .vm-product-container
        .vm-product-media-container
          width 50% !important
          .main-image
            background-color rgba(255,255,255,0.53) !important
            padding 50px 0px
        .vm-product-details-container
          .product-description
            span
              &.title
                display none
          .spacer-buy-area
            padding 0px
            .product-price
              float none
              margin 0px
              text-align right
              a.ask-a-question
                display inline-block
                margin 0px
                padding 0px
                visibility hidden
                &:after
                  background-color naranja
                  color #fff
                  content 'cotizar aquí'
                  display inline-block
                  font-size 0.875rem
                  padding 5px 10px
                  text-transform uppercase
                  visibility visible
      .additional-images
        > div
          background-color rgba(255,255,255,0.53) !important
          margin-right 10px
          text-align center
          a
            img
              margin-left auto
              margin-right auto
              width 60%
    p
      padding 10px
      font-size 1rem
    h2
      color #fff
  .blog
    p
      padding: 0px
      &.readmore
        text-align: right
        a
          color: naranja
          text-transform: uppercase;
    .page-header
      padding-bottom: 0px;
      margin: 0px

    h2
      a
        color: naranja
        display block
        font-size 1.5rem
        margin 0 auto
        padding 10px 0px

  .moduletable_menu_proyectos
    margin-top: -18px
    ul
      &.nav
        li
          &.active
            a
              background-color: #e95a0c
              color: #fff
              margin-top: 10px
          a
            background-color: #fff
            color: #e95a0c
            margin-top: 10px
          a:hover
            background-color: #e95a0c
            color: #fff
            margin-top: 10px
    h3
      background-color: #000;
      color: #fff;
      font-size: 20px;
      padding: 10px;
      text-align: center;

  .moduletable
    h3
      background-color #000
      color #fff !important
      display block
      font-size 1.125rem
      margin 0 auto
      padding 10px 0px
      titulo-seccion()
      text-align center
      margin-bottom 10px
    ul.menu_categorias
      padding 0px
      li
        list-style-type none
        div
          a
            background-color #000
            color #fff !important
            display block
            titulo-seccion()
            padding 5px
            text-align left
            text-decoration underline
        ul.menu_categorias
          li
            list-style-type none
            margin 5px 0px
            div
              a
                background-color #fff
                color naranja !important
                display block
                font-size 0.875rem
                margin-top 3px
                padding-left 10px
                text-align left
                text-decoration none
                &:hover
                  background-color naranja
                  color #fff !important


section.b
  .custom_noticia_promocion
    table
      td
        +media-max(mobile)
          display block !important

  .moduletable_noticia_promocion
    border 1px solid #e6e6e6
    padding: 10px 20px
    h3
      color #e95a0c !important
      margin-top: 5px

  .moduletable_ultimas_noticias
    h3
      display block
      font-size 1.313rem
      margin 0 auto
      padding 10px 0px
      titulo-seccion()
      text-align center
      &:after
        triangulo()
      &:before
        triangulo()
  ul
    padding 0px
    margin 0px
    li
      list-style-type none
      margin 0px
      padding 0px
      a
        background-color grisFuerte
        color gris
        display inline-block
        font-size 1.125rem
        margin-top 3px
        padding 9px 10px
        text-transform uppercase
        width 80%
      p
        display inline-block
        margin 0px
        width 19%
        a
          display inline-block
          margin 0px
          padding 0px
          visibility hidden
          &:after
            background-color naranja
            color #fff
            content 'ver más'
            display inline-block
            font-size 0.875rem
            padding 5px 10px
            text-transform uppercase
            visibility visible

section.c
  margin-top 10px
  .moduletable_productos_recientes
    > h3
      display block
      font-size 1.313rem
      margin 0 auto
      padding 10px 0px
      color: naranja
      text-align center
      &:after
        triangulo()
      &:before
        triangulo()
    .item
      border 1px solid #cccccc
    .vina-sscroller-virtuemart
      background-color transparent !important
      .item
        background-color rgba(255, 255, 255, 0.53) !important
        h3
          margin 3px 0px 5px 0px
          height 51px
          a
            color #000 !important
            font-size 1.125rem
            text-transform uppercase
        .image-block
          margin-top 15px
          text-align center
          img
            max-height 85px
        .text-block
          .button-group
            .vm-details-button
              width 100%
              a
                visibility hidden
                width 100%
                &:after
                  background naranja !important
                  color #fff !important
                  content 'Ver más'
                  display block
                  font-size 0.875rem
                  margin 0 auto
                  padding 5px
                  text-transform uppercase
                  visibility visible !important
                  width 50%
      .scrollingHotSpotLeft
        background url('/images/f-izquierda.png') center no-repeat !important
        display block !important
        opacity 1 !important
      .scrollingHotSpotRight
        background url('/images/f-derecha.png') center no-repeat !important
        display block !important
        opacity 1 !important
  table
    tr
      td
        &:nth-child(2)
          +media-max(tablet)
            display none
        +media-max(tablet)
          display inline-block
          text-align center
        +media-max(mobile)
          display block
          text-align center
        img
          +media-max(mobile)
            margin 0 auto
          +media-max(tablet)
            margin 0 auto
.derechos
  p
    color #808080
    padding 10px
    margin 0px
    a
      color naranja

.top
  background-color: #000
  padding-top 10px
.top
  .rssearch_box
    button
      background-image url('/images/lupa.png')
      background-repeat no-repeat
      border none
      color transparent
      height 25px
      margin-left -26px
      margin-top -2px
      padding 0px
      width 24px
    form
      right 0
    input[type='text']
      background-color #000
      border-radius 5px
      border 1px solid #fff
      color #fff
      height 25px
      width 169px !important

.rssearch_row
  a
    color naranja

.vm-pagination
  ul
    li
      display inline-block !important
      margin-top 10px

